@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('src/assets/fonts/PretendardVariable.woff2') format('woff2');
  }

  body {
    font-family: 'Pretendard', system-ui, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 480px) {
    * {
      font-size: 14px;
    }
  }
}
